{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- SITE HEADER  -->
<header class="site-header">
    {% include 'navbar.html' %}
</header>
<!-- MAIN  -->
<main class="main-container">
    <section class="news-container">
        <div class="news-title">
            <h2 class="caption news-caption">Yangiliklar</h2>
        </div>
        <div class="yangiliklar">
            <div class="yangiliklar-link">
                <img class="main-news-image" src="{% static '' %}images/main-news.png" alt="Rasm" width="252"
                    height="143">
                <h2>По факту прорыва Сардобинского водохранилища
                    возбуждено уголовное дело</h2>
                <p>После прорыва дамбы Сардобинского водохранилища возбуждено уголовное дело, сообщили в
                    пресс-службе Генпрокуратуры Узбекистана.
                </p>
                <time>11:31 / 15.05.2020</time>
            </div>
            <div class="yangiliklar-link">
                <img class="main-news-image" src="{% static '' %}images/main-news.png" alt="Rasm" width="252"
                    height="143">
                <h2>По факту прорыва Сардобинского водохранилища
                    возбуждено уголовное дело</h2>
                <p>После прорыва дамбы Сардобинского водохранилища возбуждено уголовное дело, сообщили в
                    пресс-службе Генпрокуратуры Узбекистана.
                </p>
                <time>11:31 / 15.05.2020</time>
            </div>
            <div class="yangiliklar-link">
                <img class="main-news-image" src="{% static 'images/main-news.png' %}" alt="Rasm" width="252"
                    height="143">
                <h2>По факту прорыва Сардобинского водохранилища
                    возбуждено уголовное дело</h2>
                <p>После прорыва дамбы Сардобинского водохранилища возбуждено уголовное дело, сообщили в
                    пресс-службе Генпрокуратуры Узбекистана.
                </p>
                <time>11:31 / 15.05.2020</time>
            </div>
            <div class="yangiliklar-link">
                <img class="main-news-image" src="{% static 'images/main-news.png' %}" alt="Rasm" width="252"
                    height="143">
                <h2>По факту прорыва Сардобинского водохранилища
                    возбуждено уголовное дело</h2>
                <p>После прорыва дамбы Сардобинского водохранилища возбуждено уголовное дело, сообщили в
                    пресс-службе Генпрокуратуры Узбекистана.
                </p>
                <time>11:31 / 15.05.2020</time>
            </div>
            <div class="yangiliklar-link">
                <img class="main-news-image" src="{% static '' %}images/main-news.png" alt="Rasm" width="252"
                    height="143">
                <h2>По факту прорыва Сардобинского водохранилища
                    возбуждено уголовное дело</h2>
                <p>После прорыва дамбы Сардобинского водохранилища возбуждено уголовное дело, сообщили в
                    пресс-службе Генпрокуратуры Узбекистана.
                </p>
                <time>11:31 / 15.05.2020</time>
            </div>
            <div class="yangiliklar-link">
                <img class="main-news-image" src="{% static 'images/main-news.png' %}" alt="Rasm" width="252"
                    height="143">
                <h2>По факту прорыва Сардобинского водохранилища
                    возбуждено уголовное дело</h2>
                <p>После прорыва дамбы Сардобинского водохранилища возбуждено уголовное дело, сообщили в
                    пресс-службе Генпрокуратуры Узбекистана.
                </p>
                <time>11:31 / 15.05.2020</time>
            </div>
        </div>
    </section>
</main>
{% endblock %}